:root {
    --background-color :    #a8d5e375;
    --navbar-backround-color: #f1e4d86c ;
    --border-color  :      #9C282B;
    --font-color  :      #ffffff;
    --dark-background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}